body {
    background-color: #2f4f4f;
    color: white;
}



@media (max-width:767px) {

    .Carou {
        padding-bottom: 5%;
    }

    .Inicial {
        padding-top: 20%;
        padding-bottom: 6%;
        text-align: center;
    }

    .Inicial h6 {
        padding-top: 10%;
    }

    .Nosotros {
        padding-top: 35%;
        padding-bottom: 50%;
    }

    .Productos {
        padding-top: 20%;
        margin: 0 15%;
        padding-bottom: 6%;
    }

    .Contactanos {
        padding-top: 30%;
        padding-bottom: 20%;
    }

    .Contactanos .Formulario {
        margin: 0 auto;
        width: 70%;
    }
    .PiePagina .contenido .one h5 {
        padding-left: 7%;
    }
    

}

@media (min-width:768px) {
    .Carou {
        padding-top: 8%;
    }

    .Inicial {
        padding-top: 23%;
        padding-bottom: 30%;
        text-align: center;
    }

    .Nosotros {
        padding-top: 15%;
        padding-bottom: 30%;
    }

    .Productos {
        padding-bottom: 6%;
        margin: 0 auto;
    }

    .Contactanos {
        padding-top: 14%;
        padding-bottom: 9%;
    }

    .Contactanos .Formulario {
        margin: 0 auto;
        width: 45%;
    }
    .PiePagina .contenido .one h5 {
        padding-left: 5%;
    }
    
}

.Carou .carousel-inner {
    border-radius: 45%;
}

.Carou .Descrip {
    color: black;
}


.Nosotros .Conte {
    text-align: center;
    padding-top: 10%;
}


.Productos .Items {
    padding-top: 5%;
}


.Contactanos h3 {
    text-align: center;
}


.Contactanos .Formulario .Boton {
    text-align: center;
}

.Contactanos .Formulario .Boton button {
    color: rgb(255, 255, 255);
}


.PiePagina .contenido ul li {
    list-style: none;
}

.PiePagina .contenido ul li a {
    text-decoration: none;
}